<div id="app">
    <mat-toolbar color="primary">Angular Metamask Test</mat-toolbar>
    <mat-card class="card">
        <mat-card-title>Wallet</mat-card-title>
        <mat-card-content>
            <div *ngIf="isUnlockWallet; else lock">
                <p>Wallet: Unlocked</p>
            </div>
            <ng-template #lock>
                <p>Wallet: Lock</p>
            </ng-template>

            <P>Current Account: {{currentAccount}}</P>
            <button mat-raised-button color="primary" [disabled]="isUnlockWallet"
                (click)="unlock()">WalletUnlock</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Simple Storage</mat-card-title>
        <mat-card-content>
            <P>SimpleStorage Number: {{storageValue}}</P>

            <mat-form-field>
                <input matInput placeholder="SimpleStorage Number" (keyup)="setNumber($event)">
            </mat-form-field>
            <button class="set-button" mat-raised-button color="primary" [disabled]="!isUnlockWallet"
                (click)="setSimpleStorageValue()">Set</button>
        </mat-card-content>
    </mat-card>
</div>